<article class="post">
    <div class="title">
       <a href="/post/{{id}}">{{name}}</a>
    </div>
    <div class="body">
        {{description}}
    </div>
    <div class="meta">
        <strong>Posted by {{user.name}} on {{date_created}}</strong>
    </div>
</article>
