{{#if blogs.length}}
  <section>
    <h2>My Blogs</h2>
    <ol>
      {{#each blogs as |blog|}}
        <ul>

          <article class="blog">
            <div class="title">
              <a href="/blog/{{id}}">{{blog_title}}</a>
            </div>

            <div class="meta">
              <strong>Written by {{user.username}} on {{format_date created_at}}</strong>
            </div>
          </article>

          <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit blog</a>
        </ul>
      {{/each}}
    </ol>
  </section>
{{/if}}

<div>
  <button type="submit"><a href="/dashboard/newblog" class="create-btn">Create New Blog</a></button>
</div>
