<div class="text-center">
  <h2>{{post.name}}</h2>
  <p>{{post.description}}</p>
  <p>Posted by {{post.user.name}} on {{format_date post.date_created}}</p>
</div>

<input type="hidden" name="post-id" value="{{post.post_id}}" />
{{#if logged_in}}
  <form class="comment-post-form">
    <div class="form-group">
      <textarea class="form-input" name="comment-desc" id="comment-desc">{{comment.commentText}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">ADD COMMENT</button>
    </div>
  </form>
{{/if}}
{{> comments post.comments}}
{{#if logged_in}}
  <script src="/js/comment.js"></script>
{{/if}}
